.bl_pager {
  display: flex;
  overflow-x: auto;
}

.bl_pager_inner {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.bl_pager_inner > *:last-child {
  margin-right: 0;
}

.bl_pager_inner > li {
  margin-right: 15px;
}

.bl_pager_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid currentColor;
  color: #e25c00;
  text-decoration: none;
  transition: 0.25s;
  box-sizing: border-box;
}

.bl_pager_link:focus,
.bl_pager_link:hover {
  background-color: #e25c00;
  color: #fff;
  opacity: 0.75;
}

.bl_pager_link.is_active {
  background-color: #e25c00;
  color: #fff;
  pointer-events: none;
}

/* タブナビゲーション */
.bl_tabNav_inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -10px;
  padding-left: 0;
  margin-top: 0;
  list-style-type: none;
}

.bl_tabNav_link {
  display: inline-block;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  margin-bottom: 10px;
  border-bottom: 4px solid #efefef;
  color: #777;
  text-decoration: none;
  transition: 0.25s;
}

.bl_tabNav_link:focus,
.bl_tabNav_link:hover {
  border-bottom-color: currentColor;
  color: #e25c00;
  opacity: 0.75;
}

.bl_tabNav_link.is_active {
  border-bottom-color: currentColor;
  color: #e25c00;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .bl_tabNav {
    overflow-x: auto;
  }

  .bl_tabNav_inner {
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 0;
    white-space: nowrap;
  }
}
